# PyCharm
.idea
__pycache__

# PipEnv files, local environment variables
Pipfile*

# experiments
experiments

# default output
output

# dotenv
*.env

# credantials
.pypirc

# setup.py
dist
*.egg-info
build
